body{
  background-color: #E36161;
}

ul{
  padding: 5px;
  background-color: #ECAB69;
}
li{
  list-style: none;
  padding: 5px 0;
}
li:hover{
  background-color: #e5e5e5;
}
span{
  float: right;
}
.online-list{
  
}
.offline-list{
  
}
